body {
  background: #8642f4;
}

.hidden {
  display: none;
}

.twitch-btn:hover, .twitch-btn:focus {
    color: white;
    text-decoration: none;
    background-color: #7d5bbe;
}

.twitch-btn:hover {
    cursor: pointer;
}

.twitch-btn {
    background-color: #6441a4;
    color: white;
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 3rem;
    padding: 0 1rem;
    transition: all .2s;
}

.twitch-connect {
  margin-top: 40vh;
}

[class^='col'] {
  max-height: 100vh;
  overflow-y: auto;
}

/*
  SCROLL BAR
*/


[class^='col']::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #8642f4;
}

[class^='col']::-webkit-scrollbar {
	width: 4px;
	background-color: #F5F5F5;
}

[class^='col']::-webkit-scrollbar-thumb {
	background-color: #ffffff;
}

.card:first-child {
  margin-top: 20px;
  margin-bottom: 30px;
}

.card.chat {
  margin-bottom: 0px;
}

.col-vid {
  position: relative;
  margin-top: 20px;
}

.col-vid video {
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 0;
}

.overlay h1 {
  padding-top: 30px;
}

.hidden-vid {
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 50%;
}

.shown-vid {
  border: 5px solid white;
}

.toggle {
  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  height: 10%;
}

.card.chat .card-block {
  padding: 0;
}

#viewers {
  width: 100%;
}
